body {
    margin: 0 auto;
    /* background-image: url("../images/background_spoons1.jpg"); */
    /* background-image: url("../images/cutting_board_tight.jpg"); */
    background-image: url("../images/ingredients2.jpg");

    /* width: 100vh; */
}

#headerDiv {
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  opacity: 0.85;
  padding-left: 10px;
  padding-right: 10px;
}

.zoom {
    transition: transform .2s;
    /* width: 300px; */
    height: 300px;
    margin: 0 auto;
    opacity: 0.85;
}

.zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    opacity: 0.95;
}

#results {
    /* width: 400px; */
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.85;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    height: 500px;
}

img {
    width: 300px;
    margin: 0 auto;
    height: 300px;
}

/* <a href='https://www.freepik.com/free-photo/healthy-food-composition-with-colorful-salad_3412156.htm'>Designed by Freepik</a> */